.modal-content {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-header {
    padding: 1rem;
    border-bottom: none;
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    border-top: none;
    padding: 1rem;
}
