<div class="dashboard-container align-items-center">

  <h3 class="dashboard-header fw-bold custom-heading">
    <span class="bullet-before me-2">•</span> Job Applications Dashboard<span class="bullet-after ms-2">•</span>
  </h3>

  <button class="btn btn-danger ms-auto button-container" (click)="logout()">Logout</button>
  <hr />

  <div class="table-responsive px-4">
    <table class="table table-striped table-hover">

      <thead class="table-dark">
        <tr>
          <th class="text-center">Serial Number</th>
          <!-- <th class="text-center" >Application Id</th> -->
          <th class="text-center">Company</th>
          <th class="text-center">Position</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let application of applications; let i = index">
          <td class="text-center">{{ serialCounter + i }}</td>
          <!-- <td class="text-center">{{ application.id }}</td> -->
          <td class="text-center">{{ application.company }}</td>
          <td class="text-center">{{ application.position }}</td>
          <td class="text-center">{{ application.status }}</td>
          <td class="text-center">

            <!-- Modal Trigger Button -->
            <button class="btn btn-primary btn-sm btn-hover btn-pad" (click)="openDetailsModal(modalContent)">View</button>

            <!-- Modal Content -->
            <ng-template #modalContent let-modal>

              <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                  <h2 class="modal-title text-center">Job Application Details</h2>
                  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
                </div>

                <div class="modal-body">
                  <div class="mb-4">
                    <p><strong>Application Id:</strong> {{ application.id }}</p>
                    <p><strong>Company:</strong> {{ application.company }}</p>
                    <p><strong>Position:</strong> {{ application.position }}</p>
                    <p><strong>Date Applied:</strong> {{ application.dateApplied | date }}</p>
                    <p><strong>Application Method:</strong> {{ application.applicationMethod }}</p>
                    <p><strong>Contact Info:</strong> {{ application.contactInfo }}</p>
                    <p><strong>Status:</strong> {{ application.status }}</p>
                    <p><strong>Notes:</strong> {{ application.notes }}</p>
                  </div>
                </div>

                <!-- Close Button in the Middle -->
                <div class="text-center"><button class="btn btn-info btn-sm" (click)="modal.dismiss()">Close</button>
                </div>

              </div>
            </ng-template>

            <a [routerLink]="['/dashboard/edit/' + application.id]" class="btn btn-primary btn-sm btn-hover btn-pad">Edit</a>
            
            <button (click)="openDeleteModal(application)" class="btn btn-primary btn-sm btn-hover btn-pad">Delete</button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row mb-4">
    <button class="btn btn-success btn-hover" (click)="applyJob()">Add Application</button>
  </div>
</div>


<!-- <button (click)="deleteApplication(application.id)" class="btn btn-danger btn-sm btn-hover">Delete</button> -->